@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");


/* reset layout */
html {
 font-size: 10px;
}
body {
    font-size: 1.6rem;
    box-sizing: border-box;
}

/* link-style */
a {
    color: inherit;
    text-decoration: none;
}

/* custom class */
.a11yHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}

.rs {
    margin: 0;
    padding: 0;
}

.rsMargin {
    margin: 0;
}

.rsPadding {
    padding: 0;
}

.rsBox {
    margin: 0;
    padding: 0;
    border: 0 none;
}

.rsList {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.rsBtn {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

/* common layout */

/* header */
.header {
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.4);
    border-bottom: 1px solid #e0e0e0;
}
.logo {
    font-size: 0;
}
.logo a {
    display: block;
    padding: 31px 20px;
}
.menu__open {
    width: 66px;
    height: 78px;
    background-color: #fff;
}
.burger__bar {
    display: block;
    height: 4px;
    margin: 5px 20px;
    background-color: #616161;
}
/* nav */
.menuNav {
    background-color:rgba(20, 24, 44, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 60px;
    color: #fff;
}

.menu__close {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
}

.x__bar {
    background-color: #fff;
    width: 26px;
    height: 2px;
    right: 25%;
    position: absolute;
}

.bar__left {
    transform: rotate(45deg);
}

.bar__right {
    transform: rotate(-45deg);
}

.menu__item a {
    display: block;
    padding: 1em;
    border-bottom: .5px solid rgba(245, 244, 251, 0.3);
}
/* main */
main {
    background-color: tomato;
    height: 100vh;
}
@media screen and (max-width: 559px){
    .drink__list {
        
    }
}

@media screen and (min-width: 560px){
    .drink__list{

    }
}