@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");


/* reset layout */
html {
 font-size: 10px;
}
body {
    font-size: 1.6rem;
    box-sizing: border-box;
}

/* link-style */
a {
    color: inherit;
    text-decoration: none;
}

/* custom class */
.a11yHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}

.rs {
    margin: 0;
    padding: 0;
}

.rsMargin {
    margin: 0;
}

.rsPadding {
    padding: 0;
}

.rsBox {
    margin: 0;
    padding: 0;
    border: 0 none;
}

.rsList {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.rsBtn {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

/* common layout */

/* header */

.header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.4);
    border-bottom: 1px solid #e0e0e0;
}
.logo {
    font-size: 0;
}
.logo a {
    display: block;
    padding: 31px 20px;
}
.menu__open {
    width: 66px;
    height: 78px;
    background-color: #fff;
}
.burger__bar {
    display: block;
    height: 4px;
    margin: 5px 20px;
    background-color: #616161;
}
/* nav */
.menuNav {
    background-color:rgba(20, 24, 44, 0.9);
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    padding-top: 60px;
    color: #fff;
    transition: all 1s;
    
}
.menuNav.isAct {
    transform: translate(-100%,0);
}

.menu__close {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
}

.x__bar {
    background-color: #fff;
    width: 26px;
    height: 2px;
    right: 25%;
    position: absolute;
}

.bar__left {
    transform: rotate(45deg);
}

.bar__right {
    transform: rotate(-45deg);
}

.menu__item a {
    display: block;
    padding: 1em;
    border-bottom: .5px solid rgba(245, 244, 251, 0.3);
}
/* drink-menu */

.drink__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
}
.drink__close .x__bar {
    width: 15px;
    height: 1px;
    left: 40%;
    background-color: #181818;
}

.drink__menu {
    margin-bottom: 30px;
}
.drink__list {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}
.drink__item {
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
    position: relative;
    
}

.drink__figure {
    margin-top: 50px;
    margin-bottom: 20px;
}

.drink__figure a {
    display: block;
}

.drink__figure img {
    width: 100%;
    min-width: 104px;
    max-width: 204px;
}

.drink__figure figcaption {
    padding-bottom: 20px;
}

/* drink-info */
.drink__dialog {
    display:none;
    width: 100%;
    height: 100%;
    color: #202022;
    text-align: left;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, .6);
    position: absolute;
    top:0;
    left: 0;
}

.dialog__heading {
    padding: 30px;
    /* height: 236px; */
}
.drink__dialog h3 {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.2;
    padding-bottom: 30px;
    border-bottom: 2px solid #181818;
}
.drink__dialog .enTitle {
    display: block;
    color: #999;
    font-size: 0.8em;
    font-weight: 300;
}

.drink__dialog p {
    letter-spacing: -1;
}

/* drink-table */
.drink__table, .drink__table dd {
    margin: 0;
    text-indent: 15px;
}
.drink__table {
    background-color: #f8f8f8;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 40px ;
    display: grid;
    grid-template-rows: repeat(3, 2em);
    grid-template-columns: repeat(4, 25%);
    align-items: center;
    font-size: 1.3rem;
    position: absolute;
    bottom: 0;
}

.drink__table::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 70px;
    background-color: #ccc;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media screen and (max-width: 559px){
    .drink__item {
        margin: 25px 30px 0 30px;
    }
}

@media screen and (min-width: 560px){
    .drink__menu {
        margin-left: 15px;
        margin-right: 15px;
    }
    .drink__list{
        width: 100%;
        max-width: 880px;
    }
    .drink__item {
        flex : 1 1 40%;
        max-width: 480px;
        margin: 20px 10px 0;
    }

}